name: deployment-dev
on:
  push:

jobs:
  deployment:
    name: build-and-deploy-project
    runs-on: ubuntu-latest
    environment: |-
      ${{
         github.ref_name == 'develop' && 'DEV'
      || github.ref_name == 'cicd-qa' && 'QA'
      || github.ref_name == 'cicd-sit' && 'SIT'
      || github.ref_name == 'cicd-prod' && 'PROD'
      }}
    
    steps:
    
    - name: checkout
      uses: actions/checkout@v4.1.0
    # - name: maven version
    #   run: |
    #     mvn --version
    # - name: Installxmllint
    #   run: |
    #     sudo apt-get install -y libxml2-utils
    # - name: ExtractversionfromXML
    #   id: app_version
    #   run: |
    #     VERSION=$(xmllint --xpath "string(//*[local-name()='project']/*[local-name()='version'])" pom.xml)
    #     echo "Extracted version: $VERSION"
    #     echo "version=$VERSION" >> $GITHUB_ENV
    - name: Replaceenvironmentvariablesinfile
      run: |
          echo "Replacing API_URL in config.json"
          sed -i 's#\${{API_URL}}#'"${{ secrets.API_URL }}"'#g' config.json
          
    - name: Showupdatedconfig
      run: cat config.json
      
    - name: build-package
      run: |
        mkdir target
        echo 'not a real jar' > target/cicd-testing-v1-${{ env.version }}-mule-application.jar
        echo "Extracted version: $VERSION"
        echo "new...."
        echo "The version extracted from XML is ${{ env.version }}"
    - name: deploy-to-dev
      run: |
        ls target/
        echo 'Deployment to DEV is successful!'
        
